<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script defer src="./js/index.js"></script>
</head>
<body>
    <div class="app">
        <div class="header">
            <header class="headercxt">
                <div class="logo">
                    <img src="./media/logo.png" class="logopropiets" alt="">
                </div>
                <div class="options">
                    <div class="sobre">
                        <h1 class="optionsh1">SOBRE</h1>
                    </div>
                    <div class="serviços">
                        <h1 class="optionsh1">SERVIÇOS</h1>
                    </div>
                    <div class="contato">
                        <h1 class="optionsh1">CONTATO</h1>
                    </div>
                </div>
                <button class="LoginButton">
                    LOGIN
                </button>
            </header>
        </div>
        <div class="main">
            <div class="containerlogocashwash">
                <img src="./media/LogoCarWash.png" class="logocarwish" alt="">
                <img src="./media/carwishredict.svg" class="redirect-inner" alt="">
            </div>
            <div class="about">
                    <div class="title-about">
                        <h1 class="h1about">
                            POR QUE A MULTIPLICAR?
                        </h1>
                    </div>

                    <div class="about-buttons">
                        <button class="aboutbutton">
                            SUSTENTÁVEL
                        </button>

                        <button class="aboutbutton">
                            OPERAÇAO
                        </button>

                        <button class="aboutbutton">
                            GESTÃO
                        </button>

                        <button class="aboutbutton">
                            APLICATIVO
                        </button>

                        <button class="aboutbutton">
                            REPÂRO
                        </button>

                        <button class="aboutbutton">
                            ALFFA
                        </button>
                    </div>

                    <div class="contentMainAbout">
                        <div class="content">
                            <h2 class="align-center red">1. SUSTENTÁVEL</h2>
                            <div class="firstParagraf">
                             <ul>
                                <li>
                                    <p>Nossos profissionais são contratados em regime CLT *. </p>
                                </li>
                                <li>
                                    <p>O uso de EPIs é obrigatório.</p>
                                </li>
                                <li>
                                    <p>Operações contém Laudos de Segurança: ASO, PGR, PCMSO, Assinatura do regimento de EP</p>
                                </li>
                                <li>
                                    <p>A maior parte dos serviços que realizamos são para empresas que querem ter a prestação in loco.</p>
                                </li>
                                <li>
                                    <p>Além de toda a segurança, nossa operação regularizada garante responsabilidade solidária com todos os funcionários devidamente registrados e assegurados de seus direitos e deveres (tendo em vista que a maioria de empresas de lavagem contratadas terceirizadas não registram os funcionarios, atuando de maneira ilegal).</p>
                                </li>

                                <li>
                                    <p>* Em caso de serviços esporádicos, PJ com contrato transparente.</p>
                                </li>
                             </ul>
                               
                              
                              
                              
                            </div>
                        </div>
                        <div class="img">
                            <img src="./media/jpgapresentacao.jpg" alt="">
                        </div>
                    </div>

                    <div class="servicosautomotivos">
                        <div class="maintitle">
                            <h1 class="h1about">SERVIÇOS AUTOMOTIVOS</h1>
                        </div>
                        <div class="servicesgrid">
                            <div class="card">  
                                <img src="./media/LogoHigienizacao.png" alt="">
                                <h3>HIGIENIZAÇÃO</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                            <div class="card">  
                                <img src="./media/lavagemespecial.png" alt="">
                                <h3>LAVAGEM ESPECIAL</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                            <div class="card">  
                                <img src="./media/reparoexpress.png" alt="">
                                <h3>REPARO EXPRESS</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                            <div class="card">  
                                <img src="./media/mecanicapng.png" alt="">
                                <h3>MECÂNICA</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                            <div class="card">  
                                <img src="./media/reparodeparachoque.png" alt="">
                                <h3>REPARO DE PARACHOQUE</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                            <div class="card">  
                                <img src="./media/autoeletrica.png" alt="">
                                <h3>AUTO ELÉTRICA</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                            <div class="card">  
                                <img src="./media/polimentoautomotivo.png" alt="">
                                <h3>POLIMENTO AUTOMOTIVO</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                                <div class="card">  
                                <img src="./media/funalariaexpress.png" alt="">
                                <h3>FUNILARIA EXPRESS</h3>
                                <p>
                                    Revitalize o interior do seu carro com nossa higienização completa. Limpeza profunda, eliminação de odores e cuidados especiais para cada superfície.
                                </p>
                                <img src="./media/16231558095-star-rating.svg" id="stars" alt="">
                                <button>AGENDAR SERVIÇO</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="footer">
            <footer>
                <div class="firstline">
                    <h3 class="footerh3 white">
                        Sua frota é nosso compromisso.
                    </h3>
                </div>
                <hr class="footerline">
                <div class="secondline">
                    <div class="icons">
                        <img src="./media/whatsapp-svgrepo-com.svg" alt="">
                        <img src="./media/instagram-svgrepo-com.svg" alt="">
                        <img src="./media/twitter-svgrepo-com.svg" alt="">
                    </div>
                    <p class="white align-center">DISPONÍVEL DE SEGUNDA A SEXTA DE 08:00 ÁS 18:00</p>
                    <div class="servicosagendados">
                        <img src="./media/calendar.png" alt="">
                        <p>SERVIÇOS AGENDADOS</p>
                    </div>
                </div>
                <div class="threeline">
                    <p class="white align-center">© 2025 MULTIPLICAR – Group -  Política de Privacidade</p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>